body{
    font-family: 'Kiwi Maru', serif;
}
header {
    background: #bbbb;
    padding: 20px 0 ;
}

.menu{
    position: relative;
    width: 940px;
    margin: 0 auto;

}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #00bfff;
    text-decoration: underline;
}

main{
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-padrao {
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
    border-radius: 10px;
    border: 2px solid;
}

.checkbox {
    margin: 20px 0;
}

.btn-enviar{
    width: 40%;
    padding: 15px 0;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background: #00bfff;
    transition: 1s all;
    cursor: pointer;
}

.btn-enviar:hover{
    background: #0000CD;
    color: #fff;
    transform: scale(1.2) rotate(360deg);
}

table{
    margin: 20px 0 40px;
    width: 40%;
}

h3{
    font-weight: bold;
    margin-left: 100px;
}
thead{
    background: #ccc;
    font-weight: bold;
}

td, th {
    border: 1px solid;
    padding: 8px 15px;
    text-align: center;
}

footer {
    text-align: center;
    background: url(../imagens/bg.jpg);
    padding: 40px 0;
}

.copyright {
    color: #ffff;
    font-size: 13px;
    margin-top: 20px;
}