body {
    font-family: 'Kiwi Maru', serif;
}
header {
    background: #bbbb;
    padding: 20px 0 ;
}

.menu{
    position: relative;
    width: 940px;
    margin: 0 auto;

}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #00bfff;
    text-decoration: underline;
}

.principal {
    padding: 3em 0;
    background: #fefefe;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: bold;
    clear: left;
    /* text-shadow: 2px 2px #000000; --> Adiciona sombra no texto */
    
}

.banner {
    width: 100%;
}

.imgUtensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.principal p{
    margin: 0 0 1em;
}

.principal em {
    font-style: italic;
}

.principal strong {
    font-weight: bold;
    color: #ff0000;
}

.maps{
    padding: 3em 0;
    background: linear-gradient(#fefefe, #888888);
}

.conteudo-maps {
    width: 940px;
    margin: 0 auto;
}


.maps p{
    margin: 0 0 2em;
    text-align: center;
}

.beneficios{
    padding: 3em 0;
    background: #888888;
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.lista {
    line-height: 1.5;
}

.lista:first-child{
    font-weight: bold;
}

.lista:before{
    content: "✰ ";
}

.imgBeneficios{
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 5px 5px 5px #000;
}

.imgBeneficios:hover{
    opacity: 0.3;
}

.video {
    width: 560px;
    margin: 2em auto;
}

footer {
    text-align: center;
    background: url(../imagens/bg.jpg);
    padding: 40px 0;
}

.copyright {
    color: #ffff;
    font-size: 13px;
    margin-top: 20px;
}

@media screen and (max-width: 480px) {
    .menu, .principal, .conteudo-beneficios, .conteudo-maps, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imgBeneficios {
        width: 100%;
    }
}